.Container{
    height: 25px;
    width: 115px;
    display: flex;
    justify-content: space-between;
}
.Viber{
    height: 25px;
    width: 25px;
    background-image: url('./svg/viber.svg');
    background-size: cover;
}
.Telegram{
    height: 25px;
    width: 25px;
    background-image: url('./svg/telegram.svg');
    background-size: cover;
}
.WhatsUp{
    height: 25px;
    width: 25px;
    background-image: url('./svg/whatsapp.svg');
    background-size: cover;
}